@{
    ViewData["Title"] = "Payment";
}

<div class="text-center">
    <div >
        <img src="~/image/qrcode.jpeg" height="300"/>
        <p>15tatacoy@ybl</p>
    </div>
    <div>
        <label>Verify Transection Id</label>
        <input type="text" class="form-control text-center" placeholder="tXXXXXXXXXXXXXX" style="width:300px;margin:auto" />
        <a href="/home/success" class="btn btn-primary mt-3">Save</a>
    </div>
</div>
