@{
    ViewData["Title"] = "Payment";
}

<div class="text-center">
    <h3 class="text-info">Payment Mode</h3>
    <div >
        <div class="fw-bold">UPI ID</div>
        <p>15tatacoy@ybl</p>
        <img src="~/image/qrcode.jpeg" height="300"/>
    </div>
    <div>
        <label>Verify Transection Id</label>
        <input type="text" class="form-control text-center" style="width:300px;margin:auto" />
        <a href="/home/success" class="btn btn-primary mt-3">Save</a>
    </div>
</div>
